# In other news

<br>

### holdMode is enabled by default

```diff
- holdMode: true
```
#### so you don't need this anymore

<br>

### Removed internal workarounds needed for SvelteKit

```diff
-  //  special code for sveltekit
-  function addSvelteKitOptions() {
-    ...
-  }
```


<style>
h4 {
 text-align: right;
}
</style>



